<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="L'évidence ">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>{% block title %}L'évidence - des produits d'exception{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/levidence.css')}}" rel="stylesheet">
    {% block javascript %}
    {% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">
         <img src="{{asset('assets/img/logo.png')}}" alt="l'évidence" width="50px"></a>

        <a class="navbar-brand" href="{{ path('home') }}">L'évidence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('products')}}">Nos produits</a>
                </li>

                 <li class="nav-item active">
                    <a class="nav-link" href="{{path('whoWeAre')}}">Qui sommes nous</a>
                </li>

                 <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact')}}">Contact</a>
                </li>                
            </ul>
            <div class="navbar-item-custom">
                        {% if app.user %}
            
            <a href="{{ path('account')}}">Mon compte<small>({{ app.user.firstname }})</small></a> |  <a href="{{ path('app_logout')}}">Déconnexion</a> 

            {% else %}

             <a href="{{ path('app_login')}}">Connexion</a> |  <a href="{{ path('register')}}">Inscription</a>

                        {% endif %}
            </div>
            <a href="{{ path('cart')}}"><img src="{{ asset('assets/img/shopping-cart.png') }}" class="cart-icon" alt="Mon panier"></a>

        </div>
    </nav>
</header>

<main role="main">
{% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        {% for key,header in headers %}
          <li data-target="#myCarousel" data-slide-to="{{key}}" {% if key == 0 %} class="active"{% endif %}></li> 
        {% endfor %} 
        </ol>
        
        <div class="carousel-inner">
        {% for key,header in headers %}
            
            <div class="carousel-item {% if key == 0 %} active{% endif %}" style="background: url('/uploads/{{header.illustration}}'); background-size:cover; background-position: center;">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{header.title}}</h1>
                        <p>{{header.content}}</p>
                        <p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('carousel') is not defined %}mt-5 mb-5{% endif %}">
{% block content %}
{% endblock %}



    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p>&copy; L'évidence <br/>
        <small>Des produits d'exception <br/>
            <a href="#">Politique de confidentialité</a> . <a href="#">termes et conditions d'utilisation</a></small></p>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
            </svg></a>  | <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg></a>
            {# <a href="#"><i class="bi bi-facebook">Facebook</i></a> . <a href="#"><i class="bi-alarm">Linkedin</i></a></small></p> #}
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

</body>

{% block script %}
{% endblock %}
</html>
